[2019-01-20 01:07] 6eDesign opened #2 "Keyboard navigation does not always respect whether new date is "selectable""
The existing implementation of keyboard navigation logic is insufficient in certain circumstances, especially when navigating through weeks (up & down arrow keys) and through months (page up and page down).

In both cases I _think_ we should find the first/last selectable day in the week/month, but I also suspect this might prove awkward/unexpected in certain cases when navigating via up/down thro

[2019-01-20 01:10] 6eDesign opened #3 "Feature: Add option for hiding outside-of-month days"
Currently each calendar month is filled with 6 weeks of calendar cells to provide a consistent height to each month.  Like many other calendars, the days which are in the previous or subsequent months are displayed and stylistically we have chosen to give these days 50% opacity.

It would be nice to have an option to hide these days completely.  It is important that the keyboard navigation respect

[2019-01-21 10:52] antony opened #4 "Add CI support"
- [ ] Run tests
- [ ] Lint
- [ ] Autopublish to npm on tag
- [ ] Badges

[2019-01-21 10:57] antony commented on #4
@6eDesign does the travis integration work? is it set up?

[2019-01-21 17:42] 6eDesign commented on #4
Not quite - it needs some configuring and some tests need authoring.  I was originally planning on using a similar setup as my timeUtils project but am open to suggestions.  I think we ought to add documentation generation/publishing to the Todo list above.

[2019-01-21 18:22] 6eDesign commented on #4
Small update: added the NPM token for Travis.  Tagged commits will now get auto-published.  This can be automated through `npm run release`.   More work to be done here, though - still happy to take a look at the Circle CI config you mentioned in PM.

[2019-01-29 04:32] 6eDesign commented on #2
Implemented this by separating 'selected' from 'highlighted' and allowing all visible days to be highlighted but only selectable days to be selected.  I think this is less confusing to a user than skipping over non-selectable days and it's certainly easier to implement.  I may want to add a visual cue to indicate if the highlighted date is non-selectable.

[2019-01-29 10:09] antony opened #6 "0.2.3 release still contains timeUtils as a dev dependency not a prod dependency"
I'm guessing it's slightly out of sync with master?

[2019-01-29 10:10] antony commented on #4
@6eDesign I'm going to close this and pop it on a branch and open a new PR. I accidentally did it on master which prevents me opening new PRs :)

[2019-01-29 10:10] #4 closed

[2019-02-06 23:18] antony opened #9 "Cleanup unused styles"
Including the component in a sapper build (which has unused style warnings) shows a number of unused styles:

[code]

It's worth cleaning these up I think - even if only for my own sanity :D

[2019-02-07 04:55] 6eDesign commented on #9
Thanks @antony - this should be fixed in v0.2.9 (publishing now).  Let me know if you see any other warnings or issues.

[2019-02-07 05:16] 6eDesign commented on #9
FWIW - if you're updating for this fix you might want to go to 0.2.10 for a small bug/style fix for IE11 users.

[2019-02-07 08:18] antony commented on #9
Works a treat - great work :)

IE11? Wow I hate to think how my site works there :laughing:

I'll make the update, cheers!

[2019-02-07 08:18] #9 closed

[2019-02-07 12:25] antony opened #10 "Missing VCS link in package.json"
Useful when discovering the module on npm.

I can fix some of these when I get a minute, just writing here to remind myself.

[2019-02-07 12:30] antony opened #11 "Fire event on dateSelected"
Should probably fire 'change' when a date is selected, it's useful for validation etc.

[2019-02-08 14:47] antony opened #12 "Console warnings issued when component is used"
![errors](https://user-images.githubusercontent.com/218949/52485289-6d547200-2bb0-11e9-940a-ea5a58d86d3a.png)

[2019-02-18 17:47] antony opened #13 "Strange positioning when in mobile layout"
Not sure why, but the calendar appears disconnected from the trigger button when on a mobile view.

This may or may not be related to use of a modal, but is very strange.

![screenshot from 2019-02-18 17-46-47](https://user-images.githubusercontent.com/218949/52968498-44e52880-33a5-11e9-9fe9-92a0c644f2d8.png)

[2019-02-18 21:03] antony commented on #13
Live example: https://github.com/beyonk-adventures/svelte-calendar/tree/feature/positioning-fix

[2019-02-18 21:07] antony commented on #13
Ah I know why this is - the Calendar attaches to bottom in < 480px.

Think this is fine, but it's a different issue - the calendar needs to be drawn outside of the bounds of a modal, especially at this screen width.

[2019-02-18 21:36] 6eDesign commented on #13
Yeah we wanted it to be close to your thumb when on a mobile device (similar to native select inputs on Android/iOS).  Can you set overflow:visible on your modal?

[2019-02-18 21:38] antony commented on #13
@6eDesign haha - just reached this conclusion after a couple of hours hacking.

`overflow: auto` on the container is what breaks the calendar - across any device. even if there is enough room, the calendar pops up halfway hidden and too far left.

The fix is `overflow: visible` as you suggest. Should this be in the docs perhaps?

[2019-02-19 02:57] #10 closed

[2019-02-19 02:58] #12 closed

[2019-02-19 03:09] #11 closed

[2019-02-19 03:40] 6eDesign commented on #13
Not a bad idea, I ran into this as well on one of our pages.  I'm not sure if that solution will work for everyone, though.

Do you like the placement on mobile?  I could probably make this optional if not.

[2019-02-19 08:33] antony commented on #13
@6eDesign placement on mobile is excellent - I think documenting `overflow: visible` is a good pointer, even if it's not a be-all-end-all-solution, since my initial thoughts were that I would need to detach the popup from the dom and re-attach it at a node further up the tree.

[2019-03-31 16:18] antony opened #17 "Refuses to change month when wrapped in a label"
Not sure I understand exactly what's going on here, but I have a library called `components`, and I use datepicker within it.

I then import that project into my Sapper project.

At this point, it's impossible to change the month on the picker - it simply animates and ends up back on the same month.

I'll try and re-create this but getting in here early in case you have any immediate thoughts!

[2019-03-31 17:27] 6eDesign commented on #17
Is the components library something I can access in order to reproduce the issue on my machine?

[2019-04-01 11:15] antony commented on #17
Trying to recreate this issue, and ran into an even weirder issue, simply trying to get the component to render - I think something odd is going on with component properties...

I had to dive into node_modules and replace all instances of the word `start`with `starty` otherwise it wouldn't ever set the value (even from `data()`) and the component wouldn't render.

Now I've done that it renders fin

[2019-04-01 11:39] antony commented on #17
Okay, I feel like this `start` thong is a total misonomer for now, so I'm going to ignore it.

I think I've nailed down the problem, but I'm not sure why this occurs with the wrapped version of the library and not the native.

It looks like clicking anything on the NavBar component triggers the open() method again, so my component (Whilst looking static) just opens over and over again at the curre

[2019-04-01 12:10] antony commented on #17
This fixes it:

[code]

but it feels like a hack.

[2019-04-01 12:18] antony commented on #17
Ah - managed to recreate it for you!

https://github.com/beyonk-adventures/calendar-bug-demo

[2019-04-01 12:23] antony commented on #17
It's the label. Wrapping the whole thing in label is the thing which breaks it. Phew!

Okay so - I've been told over a period of many years that wrapping form controls in labels is the way to it (even by Rich when I mentioned that using an id isn't really a good idea in Svelte).

What's your opinion.

Is this a misuse of label in this instance? Is it a bug with the library? Or something else...

[2019-04-01 13:04] 6eDesign commented on #17
Hmm, ok that seems like something we could fix easily enough.  In the meantime you could probably put the label inside of the calendar component (in place of or wrapping the button).  I'll try to look at fixing this tonight or later this week though.

[2019-04-01 14:21] antony commented on #17
@6eDesign awesome - if you think it's a fixable issue that would be ideal.

Right now I've replaced the label with a thing which looks like a label, which works too.

[2019-04-15 15:21] antony opened #18 "Pick dates in UTC"
Since the UK ticked over from GMT to BST, the datepicker is now picking dates in BST, which on the surface, is fine.

However, if I then take those dates and turn them to UTC to store them, my "start of day" time becomes 11pm yesterday.

A bit confusing this one, but essentially I want to say that picking 1st of May 2019 is 1st of May 2019, and not 30th April 2019. I don't have any control over th

[2019-04-15 22:18] 6eDesign commented on #18
I believe the date picker would be generating dates in the client's timezone.  If you convert this date to a different timezone/format then I _think_ it would be expected that the time (and sometimes the date/day) would be different as well.  Converting it back into the client's timezone should yield the same date/time.

You could pull day, month, and year from the date object and use that to stor

[2019-06-03 14:14] Mattinn opened #19 "formattedSelected is not updated if the current date is selected"
Hi I noticed this strange behavior, am I doing something wrong or is it a bug ?

[code]
[code]

![formattedSelected ](https://user-images.githubusercontent.com/2447396/58808355-892dc900-8622-11e9-973f-a8724932c329.gif)

[2019-06-03 14:19] 6eDesign commented on #19
Hello @mattinn, I think you're missing some parentheses next to `new Date` in your data function.  Please try ```data() {
      return {
        dateFormat: "#{j}. #{n}. #{Y}",
        startDate: new Date(),
        startDateChosen: false,
        startDateFormatted: 'Format me!',
    }```
And please let me know if this doesn't resolve the issue.

[2019-06-03 14:54] Mattinn commented on #19
Ah silly me but it did not resolve the error

[2019-06-03 16:00] Vehmloewff opened #20 "Update for Svelte 3"
This is a very useful date picker.

It would be nice if it were compatible with Svelte 3.

[2019-06-04 06:44] Mattinn commented on #19
The problem is that the computed `formattedSelected` listens to `selected` and  `format `
The format is a default value in my code and the date I selected is the same as the Datepickers default value - so there is no change to trigger `formattedSelected`

Now that i set the format in oncreate function instead of having it a default value, it works - could you force the computed to run every time?

[2019-06-04 06:48] Mattinn commented on #19
Perhaps it would work to just add `dateChosen` as one of the dependencies for `formattedSelected` ?

[2019-06-05 22:55] 6eDesign commented on #18
Hey @antony - I'd like to resolve this for you, somehow.. maybe I could make the date attributes bindable?  Such that you could say something like `<Datepicker bind:month bind:year bind:day />` and then you can assemble a date object using those integers regardless of timezone?

[2019-06-05 23:35] 6eDesign commented on #19
@Mattinn - I have been able to reproduce the issue.  I have not been using this component in the way you've described above.  Thanks for bringing this to my attention!

A simple interim/quick-fix would be for you to set `startDateFormatted` to `undefined` in your data function.  Please let me know if this does not fix this for you in the meantime.  I'll work on a more permanent fix.

[2019-06-05 23:37] 6eDesign commented on #20
@Vehmloewff Thank you!  I'll need to find a little time to convert this over to v3 but this is on my radar.  I'll keep this issue to track progress and let you know when it's ready in v3.

[2019-06-06 18:59] Mattinn commented on #19
Yes that solved my issue thanks, good work on this component btw :)

[2019-06-06 19:21] Vehmloewff commented on #20
I might be worthwhile to wait for [svelte-upgrade](https://github.com/sveltejs/svelte-upgrade/tree/v3) to get a bit better.

[2019-06-12 15:13] antony commented on #18
Hey @6eDesign - Thanks for thinking about this! I don't know if this is strictly necessary since for dd/mm/yyyy it's easy enough to pull the values off the `Date` object returned by the picker.

For now I think it may be best to leave it as is.

[2019-06-12 15:19] antony opened #21 "Arbitrary setting of end date to 29th Oct 2020."
Is there a reason for the assigning of an end date for the calendar?

I've been implementing this in my app and not bothering to set an end date since I don't have a restriction. However the library forces me to pick one, so I'd have to set something like 2030.

I'm wondering if it would be a good idea to have null as the default for end date, so that people can pick any date they want.

Thoughts?

[2019-06-12 18:46] 6eDesign commented on #21
Currently the calendar generates all of the months when instantiated so it would not be possible to have it completely unrestricted/null.  This is not a technical limitation, though, and we could certainly generate the required months on-the-fly if we really wanted to support infinite date ranges.

Perhaps in the meantime we should increase the default end date, though.

[2019-06-16 08:57] antony commented on #21
I think the quickest solution is to document the end date. I'll add some docs now. We can't usefully guess a user's required end date, so should probably just roadmap on-the-fly generation, and let users choose it themselves.

[2019-06-16 08:59] antony opened #22 "Allow calendar wrapper to extend outside its container."
The calendar is tricky to use in a modal right now because it won't use the full screen real estate if it is contained within an element.

You can see what I mean here.

![popover](https://user-images.githubusercontent.com/218949/59561889-45bd5c80-901d-11e9-946c-3360ba306e7b.png)

The way I've seen other calendars solve this is to have an optional "detached" mode where the calendar element re-pare

[2019-06-16 09:14] antony commented on #22
Btw `position: fixed` in dev-tools immediately fixes this. Is that an oversimplification?

[2019-06-17 14:05] 6eDesign commented on #22
Hey @antony  - I have been able to workaround this type of thing with `overflow: visible` on the parent.  I think this is probably the cleanest solution but if it doesn't work for you it might be helpful to see a reproduction of your specific issue (with whichever CSS you're using for your modal).

[2019-06-17 14:07] #21 closed

[2019-06-17 14:07] #18 closed

[2019-06-17 14:08] #13 closed

[2019-06-18 12:24] antony commented on #22
In the end I replaced my modal - but I needed to keep overflow: scroll on the parent as it is a modal and sometimes the content won't fit on the screen.

[2019-06-20 08:49] antony commented on #22
I can see the issue with this now. On a large screen the datepicker sits right in the middle with:

`position: fixed`

The way to fix it is to remove top and left from `.contents-wrapper`. Not sure what other issues this might cause though.

[2019-06-27 11:53] antony commented on #20
@6eDesign I'm going to take a crack at upgrading. I don't know how successful I'll be!

[2019-06-27 14:05] antony opened #25 "Add github tags"
People find svelte-components hard to find still, I think adding some tags on the github repo would make this easier to find for people.

[2019-06-29 10:40] antony opened #26 "Linting"
I ran the project through airbnb's eslint as I assumed that's kinda what people who don't use `standard` like I do use. There are about 20,000 fixable errors, and 650 warnings

Do you have a code-style preference? Happy to set up some linting if you have a style in mind.

[2019-06-29 16:13] 6eDesign commented on #26
I'm fine with Airbnb assuming there's good editor support.  Happy to take a look at this setup if you could submit a PR, perhaps we do this after merging the svelte 3 update.

[2019-07-04 15:00] antony opened #27 "Use stores for all data"
There is quite a bit of prop passing going on inside the library, and I think with Svelte 3 we are well positioned to move all that data into a store.

[2019-07-10 19:13] #20 closed

[2019-07-10 21:45] antony commented on #20
:+1:

[2019-07-14 16:22] antony opened #28 "Plugin doesn't work with Sapper"
Though the built-in demo works, the plugin doesn't work with Sapper any more, since it has a problem with the way timeUtils exports for the browser.

The exact issue is:

[code]

I'm not proficient enough in rollup/isomorphic modules to understand this, wondering if maybe you could shed some light?

[2019-07-14 23:44] 6eDesign commented on #28
Hey @antony - I have not worked much with Sapper yet.  Any chance you could point me in the right direction for reproducing this locally?  TimeUtils does export CJS, ESM, and UMD bundles (https://github.com/6eDesign/timeUtils/blob/master/package.json#L5-L7), so I imagine this is fixable.

When you say it doesn't work in Sapper "any more", does that mean it _was_ working with Svelte V2 in Sapper?

[2019-07-15 02:40] ryanatkn commented on #28
The same error happens with [sveltejs/template](https://github.com/sveltejs/template) - here are the steps to reproduce, and [here's a repo that reproduces](https://github.com/ryanatkn/svelte-calendar-bug/).

[code]

change `src/App.svelte` to:

[code]

[code]

[2019-07-15 07:00] antony commented on #28
@6eDesign I was using webpack with v2 so it's hard to say. Rollup doesn't tolerate dynamic imports, but I don't think timeUtils uses those?

The rollup-plugin-resolve module for client uses `browser: true` (as I'm sure the svelte template above does), and that causes it to use the umd build in clientside environments. It's something about the way that build works that is causing the issue.

[2019-07-15 16:14] 6eDesign commented on #28
Thanks for the responses.  I used @ryanatkn reproduction steps and it looks like things are fixed on svelte-calendar@1.0.3.  @antony let me know if this change does not also fix your issue.

[2019-07-18 08:11] antony commented on #28
All good from here! Thanks!

[2019-07-18 08:11] #28 closed

[2019-07-18 08:13] antony opened #29 "Warning about `this`."
In ES modules, `this` function binding is invalid. There is no longer a need to bind to `this` after conversion from Svelte 2.

[code]

I think the fix for this is simply to change to `checkForFocusLoss`, with no binding.

Happy to fix this and open a PR if you agree.

[2019-07-30 01:24] Crisfole opened #30 "Needs sticky position"
When located near the bottom or top of the page (as in: when on a control panel, or other common location), it gets cut off ☹️ .  Demo:

<img width="388" alt="Screen Shot 2019-07-29 at 9 22 26 PM" src="https://user-images.githubusercontent.com/413237/62093412-313cc880-b247-11e9-871e-b13c06199b19.png">

Otherwise this is awesome! If I fix I'll send a PR...

[2019-07-30 02:13] 6eDesign commented on #30
Hi @crisfole, sorry, this was broken when we updated to v3 of svelte.  I'll try to fix ASAP.  In the meantime the previous version is available without this bug.

[2019-07-30 12:06] Crisfole commented on #30
No apology owed! This component is awesome. Keep up the good work.

[2019-08-04 00:31] 6eDesign commented on #30
Hey @Crisfole  -  this is fixed now (v1.0.4).  Thanks for submitting this issue!

[2019-08-04 00:31] #30 closed

[2019-08-04 00:34] 6eDesign commented on #29
Hey @antony - this has been removed and will be published shortly (v1.0.5).

[2019-08-04 00:34] #29 closed

[2019-08-05 08:59] antony commented on #29
@6eDesign stellar! :D

[2019-08-06 14:27] 6eDesign commented on #26
I have added eslint with the Airbnb configuration.  I've included this in the test script so that it is run as part of the release process.

[2019-08-06 14:27] #26 closed

[2019-08-06 14:41] Crisfole opened #32 "Not being unmounted properly"
I bumped into a bizarre bug with svelte-calendar and pagejs (?) and to keep momentum I had to move onto a different calendar component. Although I'd enthusiastically re-test this for you a I think you're currently the top svelte calendar component out there.

I can't seem to produce a minimal repro and really can't spend any more time on it, but here's an executive summary:

Under some condition (

[2019-08-06 14:46] 6eDesign commented on #32
Interesting, I'll see if I can reproduce with the pagejs router I have for svelte.  Thanks for letting me know!

[2019-08-06 14:48] 6eDesign commented on #27
I agree this would be beneficial and plan to work on this when I have a little free time.  Thanks for the suggestion.

[2019-08-06 15:29] Crisfole commented on #32
No problem. I definitely don't expect it to be fixed. It's working for you, which is great. I can absolutely test for you, though. Let me know

[2019-08-06 15:36] Crisfole commented on #32
Also worth noting. It wasn't the slot usage that broke it. (Got the same bug with `<Calendar bind:selected={from} />`)

[2019-08-07 22:27] 6eDesign commented on #32
@Crisfole Do you get a stack trace when this happens?  I'm seeing something similar to what you've described when I `npm link svelte-calendar` into a project but can't seem to reproduce with it installed normally.

[2019-08-07 23:50] Crisfole commented on #32
No...it just sort of sticks around... Can you push a repro? I'll test?

On Wed, Aug 7, 2019, 6:27 PM Jonathan Greenemeier <notifications@github.com>
wrote:

[2019-08-26 10:52] SenerDemiral opened #35 "svelte-JSONTable please."

[2019-08-26 19:30] SenerDemiral commented on #35
You are amazing. Thank you.
It would be great if you had a chance to add a filter.

[2019-09-17 02:21] jdgaravito opened #36 "cant figureot how to install o my existing project"
please upload to npm or yarn please, I want to be able to use it, like the other svelte components in node_modules folder. docs are confusing. said install dependencies  but which ones?

[2019-09-17 02:41] 6eDesign commented on #36
@jdgaravito - sorry for any confusion you may be facing.  This is published to NPM already, see here: https://www.npmjs.com/package/svelte-calendar

You just need to run ```npm i --save-dev svelte-calendar``` to use this as an NPM module.  Then, in your application: ```import DatePicker from 'svelte-calendar';'```

Feel free to let me know if you run into any difficulties.  Thank you, I'll try to

[2019-09-17 14:08] jdgaravito commented on #36
thank you so much for your kind and quick response. One last question, Is there a way to change language? or override the day and months names to a custom ones?

[2019-09-17 14:38] jdgaravito opened #37 "Feature: How to internationalize the calendar"
hi, its me again. i managed to install and make it work. its awesome but now i have a problem. i cant make work the itnernationalization of timeUtilis.
[code]
it  changes in the chosen date of the button but not in the calendar.
Thank you.

[2019-09-17 15:47] jdgaravito commented on #37
Update: i manage to edit the dictionaries.js file to change it manually. and some colors in the styles also. but what if i update the calendar, i will lost the changes. it is posible to make a themed functionality in a near future?

Also another feature suggestion. having a time selector with the same design principle will be great.

i loved your component. his UX is awesome. keep it up!!

[2019-09-18 14:04] antony commented on #27
Upgrading this to suggest we actually use Stores within the Context API.

Each calendar instance should expose a context and that can be used to share data between days/months/years.

[2019-09-18 14:44] 6eDesign commented on #37
Hey @jdgaravito, great question.  Timeutils does support basic internationalization but I haven't tested this in svelte-calendar yet.  I'll do some experimenting and get it working in the near future so you don't have to worry about upgrading the component in the future.

Theming might be slightly complicated but perhaps it's best to make the styles global so you can easily override with your own

[2019-09-21 00:11] jdgaravito opened #38 "multiple calendars and variables"
hi its me again, 😄  sorry to bother you.
i'm trying to have two calendars linked together to pick a start and end dates of an event.
my idea is to update the end date calendar to let users select the date starting from the start date chosen in the previous calendar.

![image](https://user-images.githubusercontent.com/25352320/65365022-95429400-dbdb-11e9-9dfa-c45cc5f0d632.png)

but unfortunately th

[2019-09-21 23:47] #36 closed

[2019-09-21 23:55] 6eDesign commented on #38
Hey @jdgaravito - the syntax for `bind:property` in svelte looks like this:
[code]
When you only write the lefthand side of this assignment such as `bind:formattedSelected`, it is equivalent to writing `bind:formattedSelected={formattedSelected}` (it is a shorthand for this common use case).

`formattedSelected` and `dateChosen` are exported properties ("props").    So if you want to assign one of

[2019-09-23 00:09] jdgaravito commented on #38
Jonathan thank you so much. I really appreciate the time you took to help me. I'm starting on web dev and svelte is my first front end framework. Sometimes I felt so overwhelmed and I tried to find component libraries to help me on the process. Unfortunately, due of novelty of Svelte there are not much libraries available and, in the ones that I can find ([](https://madewithsvelte.com/)), their cr

[2019-09-23 00:18] jdgaravito commented on #37
Update: as i expected every time i use npm or yarn the changes made to the the styles and dictionaries get lost 😢

check this library: (https://github.com/rob-balfre/svelte-select) can be a way to have a styling functionality in the future with css variables on the calendar.

[2019-09-27 16:27] antony opened #39 "Windows Edge Support"
Windows Edge browser doesn't support object rest spread, so:

`{ ...props, x: 'y' }` is unacceptable and will break your site.

`Object.assign` can be used instead.

I'll open a PR in about ten minutes to fix this.

[2019-09-28 23:02] pzmarzly opened #41 "Button class "popover" conflicts with Bootstrap's .popover CSS"
I'm trying to move existing app to Svelte, part by part. I had 2 weird issues with svelte-calendar:

1. borders around buttons were distorted (it didn't cover right side of them)
2. `z-index` of buttons was 1060

It turns out that the class `.popover` is also used in Bootstrap 4.

As a workaround, I can either use a custom version of Bootstrap (as I don't use popovers), or add:

    :global(.datep

[2019-09-30 01:59] 6eDesign commented on #41
Hey @pzmarzly - thanks for letting me know about this!  I've updated the `.popover` class to `.sc-popover` and will consider adding a namespace to all classes used by this component in the future.  This should publish to NPM momentarily as v1.0.9.  Please let me know if you continue to have any issues.

[2019-09-30 01:59] #41 closed

[2019-09-30 22:40] #39 closed

[2019-09-30 22:42] 6eDesign commented on #38
Thank you for the suggestion @jdgaravito - I had not seen the customization/theming via CSS variables yet.  I'll give this a shot when I have some time.

[2019-09-30 22:42] #38 closed

[2019-10-08 02:48] #35 closed

[2019-10-08 02:49] 6eDesign commented on #35
@SenerDemiral - Just closing this as it's unrelated to svelte-calendar.  If I find the need/motivation, I'll make svelte-table a reality in the future and ping you about it.  If you want to run with the example I posted you're more than welcome, adding filtering should be really easy with svelte.

[2019-10-08 02:49] 6eDesign commented on #25
@antony - how exactly do you add github tags?

[2019-10-08 02:50] #19 closed

[2019-10-08 05:22] SenerDemiral commented on #35
Thank you for your kindness.

[2019-10-10 17:49] antony commented on #25
Just click "Manage Topics" under "Description"

[2019-10-10 18:18] 6eDesign commented on #25
Thanks @antony  - I've added a few tags of the svelte and 'calendar' varieties.

[2019-10-10 18:18] #25 closed

[2019-10-15 08:21] perifer opened #46 "Browse by year"
Here is a suggestion: When in "month mode" the previous and next arrows should change a whole year instead of going to previous/next month.

[2019-10-18 16:04] Crisfole opened #48 "White button text makes calendar useless"
I've got white on blue as my default button, but that means that every button in svelte-calendar is coming out white-on-white, and just a _tad_ hard to use ;).

Any chance you can explicitly set the font color to `inherit` or `black` or `purple` or `cornflower` (I don't particularly care as long as it still looks nice)? Better, can you set it up with css variables for easy overriding?

[2019-10-18 16:07] 6eDesign commented on #48
Hi @Crisfole - I'd like to take the CSS variable approach to theming.  This is on my radar and I'll try to make it happen somewhat soon.

[2019-10-18 16:08] Crisfole commented on #48
Just for reference, the `var` method accepts variable names _and_ a default. So you can do something like this:

[code]

See here: https://github.com/rob-balfre/svelte-select/blob/9ec6433090c881426a907d68d4b9c3b8bc348c53/src/Select.svelte#L626 for where I stole the technique from.

[2019-10-18 16:09] Crisfole commented on #48
@6eDesign I need the color fix ASAP, so I'm going to push a PR in the next few minutes here ;)

[2019-10-19 01:38] 6eDesign commented on #48
@Crisfole I pushed a change that allows you to theme the calendar.  I am re-thinking the prop syntax though.  I think I will go with a `styles` prop as an object with various properties instead of multiple style props.   In any case, it likely fixes your issue anyway since it sets an explicit color to the day label button.

[2019-10-19 01:38] #48 closed

[2019-10-19 17:44] pzmarzly opened #50 "TypeError: weeks[0] is undefined when using Change Timezone extension"
With [this extension](https://mybrowseraddon.com/change-timezone.html) enabled, I keep getting this error, both in Firefox, and Chrome, no matter which timezone I choose:

![DeepinScreenshot_select-area_20191019185351](https://user-images.githubusercontent.com/8074163/67149191-83224700-f2a8-11e9-8421-920c573e0d32.png)

Current real date on my PC is 2019-10-19 19:41, Saturday.

Smallest reproducibl

[2019-10-21 14:33] Eradash opened #51 "Cannot set blank initial selected date"
I want to create a DatePicker with no initial selected date.
Currently, the initial value is set at the current date, and I need to be able to have a blank field (forcing the user to set a value before sending the form)

[2019-10-24 00:01] 6eDesign commented on #51
@Eradash If I'm understanding you correctly I think you can accomplish this by observing both the selected date (`formattedSelected`/`selected`) and the boolean `dateChosen` (which represents whether the user has chosen a date).  Here is an example: https://svelte.dev/repl/7f20eda431574dbaa825378399240b0a?version=3.12.1

Let me know if this doesn't address the issue you're having.

[2019-10-24 00:28] 6eDesign commented on #50
@pzmarzly I am unable to reproduce this in the svelte.dev repl even when I set my system date to the one you provided and enable this extension.  I may need more details.  I don't see anything in particular in this function which would break given a change to the timezone but maybe I'm missing something.

[2019-10-25 12:34] pzmarzly commented on #50
I made [a repo](https://github.com/pzmarzly/svelte-calendar-crash) with a tiny website that shows this behaviour. I also uploaded the website [there](https://files.pzmarzly.pl/svelte-calendar-50/test.html). Please let me know whether you are able to reproduce the error with it. If not, I'll try to debug the calendar myself.

[2019-10-26 22:10] 6eDesign commented on #50
@pzmarzly I am not seeing this error in chrome (Windows), with the extension (https://chrome.google.com/webstore/detail/change-timezone-time-shif/nbofeaabhknfdcpoddmfckpokmncimpj?hl=en) installed and active.   Do you have more specific steps needed to reproduce the issue you're seeing?

[2019-10-28 22:27] pzmarzly commented on #50
I dug for a bit, and found out that there is a problem with `Date.getMonth()` when using that extension (it e.g. still reports September on 2019-10-01 00:00, unlike the JS API). This is definitely extension's bug, not `svelte-calendar`'s. It looks like it could be worked around by changing these lines:

[code]

, but I don't suggest we do that - I'm leaving this just for future reference.

Looking

[2019-10-28 22:27] #50 closed

[2019-10-29 12:49] skinnedpanda commented on #46
I would include groups of years too, like this https://fengyuanchen.github.io/datepicker/

[2019-11-05 11:09] rottmann opened #52 "Feature: Allow to embed inline"
without click a button to open.

[2019-11-06 01:00] 6eDesign commented on #52
Hey @rottmann could you explain what you're looking for in a little more detail?  Do you want the calendar to be "always open" (even after a date is selected) or are you looking for a non-button trigger that opens the calendar (such as a link or text node)?

[2019-11-06 01:01] 6eDesign commented on #51
Hey @Eradash - I haven't heard from you in a while so I'm going to close this for now but feel free to re-open if my previous response doesn't address your need or you have other questions.

[2019-11-06 01:01] #51 closed

[2019-11-06 01:47] 6eDesign commented on #46
This is a good idea and one that I'd like to implement when I have some free time.  I've labeled this issue accordingly.

[2019-11-06 08:19] rottmann commented on #52
I need a permanent visible calender within the page (not as popover).

[2019-11-15 05:07] 6eDesign commented on #37
@jdgaravito & @pzmarzly (who also has requested this feature) - I have just cut a v1.2.0 which exposes two new props called `daysOfWeek` and `monthsOfYear`.  These allow you to specify the "dictionaries" used by both `svelte-calendar` and `timeUtils` for the purpose of internationalization.  I've added instructions to the readme and here is an example which uses my rusty understanding of the Spani

[2019-11-15 11:17] pzmarzly commented on #37
@6eDesign thanks a lot for this. A minor nitpick (irrelevant to me): in Slavic languages, noun forms change (due to case forms). Thus, e.g. in Polish "February 2020" is "luty 2020", but "2. February 2020" (second **of** February 2020) is "2. lut**ego** 2020". Hence, I cannot use `#{F}` (full month) formatting option, as it would give "2. luty 2020" (otherwise I would have incorrect headers in the

[2019-11-15 15:17] 6eDesign commented on #37
Thanks for the feedback @pzmarzly.  I'm not sure we can accommodate the complexities of every language here but I'm hoping that this change, in addition to the ability to pass the `format` prop as a function, will largely fill the internationalization gap that this component had previously.   With that said, I'm definitely not well-versed in this subject matter and would not be terribly surprised

[2019-11-17 19:24] artur-sim commented on #52
I was actually also looking for option you described. How to show calendar without button ?

[2019-11-22 21:03] jdgaravito commented on #37
thank you so much!1 i will try and tell you.

[2019-11-26 13:31] daliusd commented on #37
I have tested this one as well. It works well but one more change is required. In my project I allow to change language real-time without refreshing website. That means Datepicker is not respecting `daysOfWeek` change because there is some initialization code on creation but not on update. I believe `monthsOfYear`

E.g. sortedDaysOfWeek could be changed to this in Datepicker.svelte:
[code]

[2019-11-26 13:33] daliusd opened #54 "Datepicker on:dateSelected could be documented as well"
Datepicker dispatches `dateSelected` which is not documented. I think it should be documented.

[2019-12-04 12:16] jonadeline opened #56 "Re-render selectable days"
Is it possible at the moment to re-render the selectable days after the initial display ?
For exemple I'd like to amend the selectable days according to a city selected from a dropdown list.
From what I see the `selectbaleCallback` can only be run once at the initialisation ?

Thank you.

[2019-12-09 20:16] pzmarzly commented on #37
43de4fea3bd9d593cd5ffd6856a202d03e5bbb88 added `weekStart` parameter. Thanks a lot for that.

`<Datepicker weekStart=1 />` does not seem to work (due to type mismatch in `date.getDay() !== weekStart`). `<Datepicker weekStart={1} />` works, but I'm not sure whether it is the way that parameter was meant to be supplied. I don't mind if it was, though.

[2019-12-09 20:20] 6eDesign commented on #37
No need to thank me, someone else contributed that bit (I firmly believe weeks start on Sunday ;) jk).  We could loosen the equality check here but the idea was, indeed, to use `weekStart={variableOrInteger}`.

[2019-12-12 12:22] Grotlo opened #57 "Bug: Changing weekStart leaves out 1st of the month if 1st is on sundays"
With #53 you could change which day started the week, which I needed to be mondays.

However, when I ~~changed the `export let weekStart = 0;` to `1` in `Datepicker.svelte`~~ put `weekStart={1}` in my test file, this happened:

![bilde](https://user-images.githubusercontent.com/36000231/70711374-b221cb80-1ce1-11ea-9e75-e1ff58257d9d.png)

So this means that the 1st of the month is missing if the 1s

[2019-12-12 12:31] antony commented on #54
It's documented here: https://6edesign.github.io/svelte-calendar/

If you think it should be in the readme too, please open a PR.

[2019-12-14 21:33] 6eDesign commented on #57
Hey @Grotlo - thanks for reporting this.  I will take a look ASAP and attempt to fix.  I didn't document this feature yet in case it wasn't quite ready for prime time (I didn't work on it myself).

[2019-12-14 21:35] 6eDesign commented on #56
This should be possible with some minor changes.  I've labeled this issue as an enhancement and will prioritize accordingly.   Happy to accept a PR as well if you're up to it.

[2019-12-15 14:24] timeshift92 opened #58 "Will time be added?"
hello, very good date picker, but no  time pick =(

[2019-12-15 16:30] antony commented on #37
It's worth noting that there is an open RFC on Svelte for styling components. It might be worth deferring styling until this is fleshed out / done.

[2019-12-15 16:32] 6eDesign commented on #37
@antony I actually added some styling capabilities a while back (see readme for details), but I'm curious about the RFC you mentioned, do you have a link?

[2019-12-15 23:15] nickolasgregory commented on #37
This one I think: https://github.com/sveltejs/rfcs/pull/13

[2019-12-18 04:05] 6eDesign commented on #58
This could be a fun addition, as could date/datetime-ranges.  I'll label this as an enhancement and will give it a shot when I have some time.  Always happy to accept PR's as well.

[2019-12-18 08:33] Grotlo commented on #58
I've made a rough implementation for this myself, and I'm curious of your imput. Will try to get the PR out later today.

[2019-12-25 02:31] casoetan commented on #58
@Grotlo do you have the PR up?

[2019-12-25 13:14] Grotlo commented on #58
https://github.com/6eDesign/svelte-calendar/pull/60

However, I'm home for the holidays, so I haven't been able to implement the requested changes yet. Feel free to expand upon it.

[2019-12-27 16:03] axiopisty opened #62 "Allow easy selection for year component"
How can you quickly change the year component of the date being selected? I'm experimenting with this component in the context of using it to pick birth dates. I don't see an easy way to pick a date that is many years in the past without having to click on the back button for each month.

[2020-01-05 13:12] artur-sim commented on #28
Im importing like this  import Datepicker from "../../node_modules/svelte-calendar"

[2020-01-05 13:20] artur-sim commented on #62
Looking for the same !

[2020-01-05 13:27] antony commented on #28
@artur-sim not sure what your comment relates to, but this issue is closed.

Regardless, you should import the datepicker like this:

`import Datepicker from 'svelte-calendar'`

[2020-01-05 17:31] 6eDesign commented on #62
I've been working on this and hope to have an example ready to share in the near future.

[2020-01-09 00:28] bato3 commented on #46
??duplicate: https://github.com/6eDesign/svelte-calendar/issues/62

[2020-01-23 14:53] Grotlo opened #64 "Bug: Disabled months on the month-selector is selectable"
Step 1: Open the month-selector
![bilde](https://user-images.githubusercontent.com/36000231/72994525-8a04ac80-3df7-11ea-927f-515262ef72f2.png)
Step 2: Choose a greyed-out month
![bilde](https://user-images.githubusercontent.com/36000231/72994549-94bf4180-3df7-11ea-8ee4-3c4f4e7fa8eb.png)

It appears that the start month is opened in the calendar (which in this case is the default `export let start

[2020-01-26 06:00] #64 closed

[2020-01-28 12:33] Grotlo opened #65 "Bug: calendar lingers when navigating to a different page"
When you navigate out of a page which has the calendar, the previous page lingers between a quarter and a half second before destroying. I found that the issue lies with line 18 in `Week.svelte`:

`out:fade={{ duration: 180 }}`

[code]

I haven't made a PR on this since I couldn't figure out how to replace that line in CSS.

[2020-02-06 16:31] tonysoft opened #66 "Very slick Calendar but how: "Can be compiled to a native web component / custom element""
I have brought the component and sub-components into a stock svelte dev env, get everything to build, but can't see any visual when using the custom element tag I choose.   I'm fairly new to svelte and have successfully built components but adapting from your sample where you use a "button" with a class rather than having the Calendar itself have a visual representation is what is baffling me.

I'

[2020-02-12 00:16] 6eDesign commented on #66
Hey @tonysoft - thanks for submitting this issue.  Could you provide some additional detail about what you're trying to accomplish?  Generally you would only compile a svelte component to a native web component, or a vanilla-JS "widget", if you were trying to use it outside of a svelte project - but it doesn't sound like that's quite what you're looking for as you've mentioned you're using a "stoc

[2020-02-14 16:05] northkode commented on #46
i have a version of this locally that I built... i can submit it if anyone wants it.

![image](https://user-images.githubusercontent.com/6988083/74547299-2149b500-4f09-11ea-8ac0-b28bd7ba711b.png)

[2020-02-14 16:06] northkode commented on #62
![image](https://user-images.githubusercontent.com/6988083/74547368-3f171a00-4f09-11ea-9ae7-6f070c2739c2.png)

I will create a fork of my version if anyone wants it

[2020-02-14 17:19] antony commented on #65
I think this relates to the way transitions work in Svelte/Sapper. I'm experiencing an issue now where the calendar's use of transitions actually breaks Sapper's routing.

[2020-02-14 17:28] antony commented on #32
I think this is a duplicate of https://github.com/6eDesign/svelte-calendar/issues/65 which is better described, and it's actually a bug in Svelte.

[2020-02-14 17:33] antony commented on #65
Relates to this issue: https://github.com/sveltejs/sapper/issues/814

[2020-02-14 17:33] antony commented on #32
Also relates to this issue https://github.com/sveltejs/sapper/issues/814

[2020-02-14 17:41] antony commented on #56
This can be closed as per https://github.com/6eDesign/svelte-calendar/pull/61

[2020-02-14 17:46] antony commented on #52
@artur-sim @rottmann right now you can't do this. However I think this is a good first PR, since it would essentially involve extracting the calendar from the trigger, and placing it into a new top-level component.

Then, the parent component would render (probably using `<svelte:component>`) the popout one, or the embedded one, depending on user preference.

[2020-02-14 17:47] antony commented on #46
@northkode would love to see a PR for this!

[2020-02-14 18:02] northkode commented on #46
@antony  https://github.com/6eDesign/svelte-calendar/pull/68#issue-375506867

[2020-02-14 20:19] 6eDesign commented on #62
Hey @northkode - happy to look at a PR if you'd like to submit one.

[2020-02-14 20:54] northkode commented on #62
@6eDesign  i submitted one issue-62

[2020-02-14 20:55] #32 closed

[2020-02-14 20:55] #65 closed

[2020-02-15 19:24] bhison opened #69 "Feature: Select Range"
A fairly common functionality in date selectors is the ability to define a selected date-range by first clicking one date to set a start date and then click another to set and end date. This is then shown as a continuous highlight between dates in the selected range on the same row.

[2020-02-16 02:10] itay-grudev commented on #69
I was just about to create an issue with exactly the same request.

[2020-02-17 12:22] Grotlo commented on #69
Hey! There's already a PR on this by me: #60 . It's not merged in yet because of some issues and requirements from the owner, but I believe it's functioning at this state (except for the month selector when choosing the last month). Feel free to grab it and do as you please!

[2020-02-17 15:03] itay-grudev commented on #69
I was thinking of making a PR myself. Thank you for the heads up.

[2020-02-18 12:15] Grotlo opened #70 "Positioning of popover"
The presentation and look of the calendar is pretty slick, but there should be an option to position the calendar based on the button. Like above or below from the button, or left or right. When I used my version of the calendar, I wanted it below and right-aligned with the button, like so:

![bilde](https://user-images.githubusercontent.com/36000231/74735163-62ff9600-5250-11ea-8862-8155a2a1bf6d.p

[2020-02-27 18:28] antony opened #71 "Start and End don't work unless Selected is set"
It looks like the `start` and `end` attributes are broken.

If you set them, it seems to cause the calendar to only consider the day, not the month or the year.

This means if I set:

start = 26th June 2020
end = 28th August 2020

I can:
* select those days in any month prior to the end date
* select *only* those days in each month between the start and end months

[2020-02-28 05:12] 6eDesign commented on #71
Hey @antony - I'm not sure I'm quite able to reproduce the issue you're describing. Here's a REPL: https://svelte.dev/repl/ca018489b73646518ca296bbcb887c60?version=3.19.1  But perhaps I'm missing something?

I did notice that the behavior isn't quite what you'd expect if you fail to set the `selected` prop though (it ought to auto-select a date between start/end instead of today's date).

[2020-02-28 05:16] 6eDesign commented on #70
That's an interesting idea.  The way the popover component works right now is intentional but this might be a nice enhancement (I've labeled it as such).  I'm not sure it's as simple as allowing that position to be set as a prop, though, as the component does do some viewport boundary detection to make sure it does not position itself partially/completely out of the viewport.   It's also worth not

[2020-02-28 15:05] antony commented on #71
That's really odd - I replicated this both in-app and using the project source code / demo page.

I'll have another look.

[2020-03-02 09:27] antony opened #72 "Use of `arguments` makes recent babel throw a hissyfit"
I don't know why this is suddenly happening, but there is no need to use `arguments` anyway - the method is only used in one place, so we know the arguments.

--
09:22:42 AM | 353 \| 		getTranslate,
09:22:42 AM | 354 \| 		doOpen,
09:22:42 AM | > 355 \| 		arguments,
09:22:42 AM | \| 		^
09:22:42 AM | 356 \| 		document,
09:22:42 AM | 357 \| 		window,
09:22:42 AM | 358 \| 		Math
09:22:42 AM | SyntaxE

[2020-03-02 09:36] antony commented on #71
Repro: https://github.com/beyonk-adventures/svelte-calendar/tree/feature/dates-issue

[2020-03-04 00:17] 6eDesign commented on #72
To be honest: I don't feel great about removing `arguments` from the codebase simply to fix an issue you're having with babel.

[2020-03-04 00:20] 6eDesign commented on #71
Can you put the demonstration of the bug in a REPL?  Glancing at your commit, is the issue the same one I mentioned above?:

In other words: does it go away if you set a starting "selected" prop between the two dates?

[2020-03-04 00:21] 6eDesign commented on #66
Closing due to lack of clarification.

[2020-03-04 00:21] #66 closed

[2020-03-05 13:19] antony commented on #72
@6eDesign It should be removed because it isn't used in the codebase anyway, the only caller of the `once` argument doesn't pass any arguments.

It's also a strict mode violation, so when es6 is compiled to strict mode ES5, arguments is technically disallowed. It's better to have explicit arguments anyway, if there were any arguments to pass.

Not removing it will mean that nobody who transpiles t

[2020-03-05 13:21] antony commented on #71
Ah sorry I hadn't seen the note about selected. That is exactly the issue. Should we be setting selected to the first available day if it is otherwise unset?

[2020-03-05 13:22] antony commented on #69
@itay-grudev If you are able to help with the final issue (month selector) then it might put the PR in a good state to merge in.

[2020-03-05 13:46] 6eDesign commented on #72
I think you're incorrect about arguments being disallowed in strict mode.  See the relevant docs here https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode

Once is a function that accepts another function as a parameter.  It's only used, right now, for a function that doesn't have arguments  but that can change in the future.  Furthermore, AFAIK, arguments is perfectly val

[2020-03-05 16:57] antony commented on #72
@6eDesign Alright, I'll crack on with it and see if I can find a workaround.

[2020-03-06 19:12] jdgaravito opened #75 "error on client / server : Could not find owner for node"
Hi, I love your calendar. Started a project and imported the component:

but as soon i use any of the examples i get:
[code]

i'm just using:

[code]

any idea why this happen?

[2020-03-06 19:24] jdgaravito commented on #75
it has to do with the format field: format="#{l},"
            #{F}
            #{j},
            #{Y}

should i isntall timeutils?

[2020-03-07 07:08] 6eDesign commented on #75
Hey @jdgaravito - you don't need to install timeUtils.  You can fix this by defining the `format` prop value in the script section instead of in the HTML.  Here's an example: https://svelte.dev/repl/067992cf15314ddea004038fc2375aed?version=3.19.2

This happens because svelte will attempt to replace values within `{}`'s when they are present in the markup and timeUtils also uses `{}'s for its strin

[2020-03-07 07:08] #75 closed

[2020-03-08 04:12] 6eDesign commented on #72
@antony great, if you do find a workaround please share.  If you can't find a workaround, maybe we could at least update the code to use `...args` instead of making the `once` function unusable for functions that need arguments.

[2020-03-08 04:15] 6eDesign commented on #71
IMO using the first available day makes the most sense as a default.  Happy to accept a PR if you get to it before me.

[2020-03-10 03:52] jdgaravito commented on #75
thank you so much!! i really appreciate the time you take to answer. this is the best svelte component i ever used. keep it up

[2020-03-13 12:26] antony commented on #72
Updated to use args.

After a fair bit of investigation, I think the issue was a combination of Svelte 3.19.1 and Babel 7. It seems that Svelte 3.19.2 fixes it (but I have no idea why)

[2020-03-29 00:03] ejoflo opened #76 "Is it possible to change the background color?"
I see the theming options that are provided for this component, however I didn't notice any way to change the background color. Is this possible?

[2020-03-31 14:22] #72 closed

[2020-04-03 15:09] khaninD opened #77 "cannot find module svelte-calendar, ubuntu 18.04.3 lts and sapper as ssr"
i use ubuntu 18.04.3 lts, sapper as ssr, and when package named as svelte-calendar, i get error: 'cannot find module svelte-calendar', but if package name as svelteCalendar (all ok!)

[2020-04-07 10:47] antony commented on #77
Please provide a reproduction so that we can assist you with this.

[2020-04-07 13:13] antony commented on #54
@daliusd can you close this please :)

[2020-04-07 13:24] #54 closed

[2020-04-09 09:06] Tharit opened #79 "Bug: Event handling issues in Popover"
The Popover Component seems to have a few issues.

Number 1: when "trigger" is not set it never unregisters the click listener on onmount:
Number 2: The focus loss check does not work if the calendar is used within another component that has a click listener, e.g. the Modal from sveltestrap.
Number 3: In my setup I get warnings "<Popover> received an unexpected slot "default"."
Number 4: It would

[2020-04-24 02:01] benquan commented on #22
I have the same issue. the component sits on a sidebar which has overflow set to scroll (there is a long list). so you cant see the whole calendar.

[2020-04-25 18:52] 6eDesign commented on #76
It doesn't appear possible now, without using global styles.  We can add this capability easily enough, though.

[2020-04-25 18:54] 6eDesign commented on #79
Thanks for reporting this issue.  I will take a look when I have some time or review a PR if you have one.

[2020-04-27 20:47] misterfabian opened #80 "how to import this into an existing svelte project via npm?"

[2020-04-27 20:51] #80 closed

[2020-06-05 16:03] antony commented on #69
Hi All,

I've published `@beyonk/svelte-calendar` with this PR and https://github.com/6eDesign/svelte-calendar/issues/71 in it, whilst @6eDesign is on hiatus.

Probably a good time to shake out any bugs from the feature too. Please give it a go and see how you fare!

[2020-06-08 13:05] avimar commented on #79
I'm also getting this on each load:

`<Popover> received an unexpected slot "default".` in my console

[2020-06-09 20:22] 0c370t opened #83 "Prevent Calendar from stripping times on dates"
I am using this in tandem with a timepicker that I wrote, I did discover that when you select a date from the calendar, it replaces it with a totally new one, losing hour, minute, and second data, for simplicity I want these two components to use the same date object (I am filtering to/from).

[2020-06-29 20:33] cotlod opened #85 "Project is not in a proper state to use with npm"
I just tried installing this as a dependency to my project and it will not load as a npm dependency (it might not be wanted to be one from what I understand and just be used as is). But it's kind of unclear how you are to use the package in a project.

I am. referring to this package [https://www.npmjs.com/package/svelte-calendar](url)

In the current state several modifications are necessary for

[2020-06-29 21:43] 6eDesign commented on #85
Hi @cotlod - are you trying to use this dependency outside of a svelte project (for example by typing `require('svelte-calendar')` in a JavaScript file?  Or are you attempting to use this svelte component within another .svelte file?

[2020-06-29 21:53] cotlod commented on #85
hey! I'm importing 'svelte-calendar' in a svelte component

[2020-06-29 22:08] 6eDesign commented on #85
I'm not sure if we're using different processes but I use svelte-calendar, via NPM, all the time in my svelte projects.  What specific problem are you encountering?

[2020-06-29 22:20] cotlod commented on #85
I'm using

- webpack 4.41
- svelte 3.18
- svelte-loader 2.13
- typescript 3.5

Others libraries are imported normally through standard declaration

eg: `import { writable, Writable } from 'svelte/store'`

.svelte files are not bundled through typescript, it shouldn't change the output. (but I tried defining a typescript module to no avail)

but for `svelte-calendar` since there is no `index.js` in

[2020-06-29 22:23] 6eDesign commented on #85
You're using typescript inside of your svelte files (I wasn't aware this was possible yet, if so).  The calendar can he imported into a svelte file like other svelte components:

[code]

[2020-06-29 22:30] cotlod commented on #85
I'm using typescript for my stores, the .svelte files are handled with svelte-loader+webpack. Indeed typescript supported isnt available yet.

your current exemple throw an error

`index.js Uncaught Error: Cannot find module 'svelte-calendar'
    at webpackMissingModule`

when other libraries are working just fine

[2020-06-29 22:32] cotlod commented on #85
I'm using node v13.12.0 and npm v6.14.4 if that can affect anything

[2020-06-29 22:33] 6eDesign commented on #85
Are you using svelte-loader with webpack? https://github.com/sveltejs/svelte-loader

The `mainFields` property seems to be used to help webpack find the appropriate svelte file:

[code]
The "svelte" property of package.json is defined for svelte-calendar here: https://github.com/6eDesign/svelte-calendar/blob/master/package.json#L3

[2020-06-29 22:35] cotlod commented on #85
yes that's my point, there shoud be an index.js file @ the root of the project so that no configuration to webpack needs to be made. (it's a more standard approach to npm packages)

[2020-06-29 22:37] cotlod commented on #85
Like stated previousIy I was able to make it work by adding a index.js @ root of svelte-calendar in my node_modules folder

[2020-06-30 02:27] cotlod commented on #85
I think you could also add a main property to your package.json and point to the proper file as moment is doing > https://github.com/moment/moment/blob/1811de9d3e2040cc64882b50eaf9e05b4025b465/package.json#L25

[2020-06-30 20:59] rawoke083 opened #86 "Actual full example"
Good comp.. but no-where is there an example as to WHAT to actually import..

[2020-06-30 21:03] rawoke083 opened #87 "Very Frustrating !"
Been looking now through the source code trying to figure out WHAT to ACTUALY import ???
 ` import { Datepicker} from "svelte-calendar"`
The above seems not to work.. Moving on and have to choose another comp !

[2020-06-30 22:32] 6eDesign commented on #87
Hi, this is the same as a svelte file you would import locally.  It is a default export so you can name it whatever you want such as:

[code]

[2020-06-30 22:32] 6eDesign commented on #86
Hi, this is the same as a svelte file you would import locally.  It is a default export so you can name it whatever you want such as:

[code]

[2020-06-30 23:46] #87 closed

[2020-07-01 00:44] #77 closed

[2020-07-01 05:29] rjbks commented on #85
I'm having similar issues. npm install but cannot import into `.svelte` files using something like: `import Calendar from 'svelte-calendar'`. That leads to `Error: Cannot find module 'svelte-calendar'`

[2020-07-06 21:59] helrabelo commented on #62
any updates?

[2020-07-22 15:47] ashleygwinnell commented on #58
+1 to Time selection!

[2020-08-04 12:40] julien-vu commented on #37
A question : how do you use the format ? cant find any example with :
- the svelte basic implementation
- a function to format (in Japan it's yyyy-mm-dd)

[2020-08-04 12:42] julien-vu opened #89 "Question: full example for formating date"
Hello,

How do your format in svelte: the {m} notation breaks my svelte app.
How could you pass a function to format the date ?

Thanks

[2020-08-04 12:46] #89 closed

[2020-08-10 13:29] Bighamster opened #90 "Is it possible to set Monday as the first day of the week?"

[2020-08-10 13:45] Bighamster commented on #90
I found! ... weekStart={1} solved my problem)

[2020-08-10 13:45] #90 closed

[2020-08-11 07:40] Bighamster opened #91 "Can't find a module with sapper 0.28 default app"
npx degit "sveltejs/sapper-template#rollup" my-app

**index.svelte:**
[code]

**output:**
[code]

[2020-08-14 14:31] antony commented on #91
Did you install the node module?

[2020-08-14 14:34] antony commented on #85
I'm not sure what's going wrong here, but I too have been using `svelte-calendar` for a year or more, in Sapper and in Svelte, without issue. The package is correctly built and working. You don't need an `index.js` file since the `svelte` export from `package.json` points to the correct `.svelte` component file. `main` is not used when building with Svelte.

* Install as a `devDependency`
* import

[2020-08-14 14:36] antony commented on #70
Just wanted to say that we also need a feature like this, since we are now embedding iframes in client pages, and the `viewport` is the whole iframe, not the browser.

Would be great to be able to configure this.

[2020-08-14 14:45] Bighamster commented on #91
No. Everything  was working fine before installing 0.28

I even tried the default app (npx degit "sveltejs/sapper-template#rollup" my-app) ... without success.

Temporaraly I use the component this way:
[code]

[2020-08-14 15:22] cotlod commented on #85
It works with Webpack if you add the following in your configuration

-  `mainFields: ['svelte', 'browser', 'module', 'main']. `

Which wouldn't be an issue if the package was formatted using an index file.

I switched to rollup to have typescript support within svelte files and now VSCode is telling me it cant find the module (i'll add a .d.ts file and send a PR) but it's still compiling and work

[2020-08-14 15:35] antony commented on #85
In that case, the name of this issue is misleading. It is called "project is not in a proper state to use with npm" when in fact it should be called "my webpack configuration is not properly configured for svelte".

I suppose I don't understand why @6eDesign would need to add an index.js file so that the module will work with your misconfigured webpack project? Seems back to front.

In fact making

[2020-08-14 15:40] antony commented on #91
I've just tried exactly what you suggested:

[code]

then installed the node module and added it to the page. it works fine.

![Screenshot from 2020-08-14 16-38-53](https://user-images.githubusercontent.com/218949/90266921-aa0bc400-de4c-11ea-9680-58de9a35ae79.png)

It sounds like whatever project you're trying to use it on isn't looking at the `svelte` field in `package.json` which is the misconfi

[2020-08-14 19:06] Bighamster commented on #91
Oh! I found out what the problem was ... I've installed into dependencies instead of devDependencies ... Shame on me!

Thanks a lot!

[2020-08-14 19:06] #91 closed

[2020-09-04 21:49] nfk opened #94 "Help: how I can increase the z-index property of popover"
Hello,

Thanks for this great library. This one is very useful and easy to set up.

I have a short issue on my app. Some elements are inside the popover because the default value of the z-index is  `2` . https://github.com/6eDesign/svelte-calendar/blob/74f04bba36ec11a12a1a12fd91f15d8db4a5f5bb/src/Components/Popover.svelte#L133. Do you have a trick to increase this value when I initialize the calen

[2020-09-04 23:04] nfk commented on #94
I have tried something like that without any success.

[code]

[2020-09-05 14:08] blackavec commented on #91
https://github.com/6eDesign/svelte-calendar/pull/95

i have created a small PR to fix the missing part in document.
i know it might be very simple and not that important but i think it's missing in documentation.
i personally spend few hours on it until i found the solution here.

[2020-09-07 07:12] #94 closed

[2020-09-23 03:34] Full-Stack-Zach opened #96 "Block out specific days in the middle of the week"
It would be really nice to have a prop similar to the 'start' and 'end' flag currently, but instead of a start and end value, it is an array of days of the week or dates of the month that the calendar will make unavailable (similar to the airbnb calendar).

I need this functionality for something and will work on it myself but if you have any ideas on how to best go about it, I'd love to hear!

[2020-09-23 03:52] 6eDesign commented on #96
There is a prop called selectableCallback that you can pass to the calendar.  It is a function that will be called with all dates between start and end.  If it returns true then the day will be selectable, if it returns false it will be blocked/disabled.

[2020-09-23 04:24] Full-Stack-Zach commented on #96
Thanks for the reply! I just built another solution and then saw your response haha. I think that your way of doing it is better so I won't push it up. Thank you!

[2020-09-24 01:31] #96 closed

[2020-10-28 02:16] miaoz2001 opened #97 "prop end date default value"
Hi,

I like your work and am using it, but it get me into trouble today....
the default value of end date is set as 2020-09-29 and i didn't change it so my users cannot click any date today....

I understand in your doc, it does say that it should be changed. But i doubt everyone read the doc that carefully and change it...

So i kind of hope that the default value could be something like 2999-12-

[2020-11-01 18:29] avimar opened #98 ""Cannot read property 'weeks' of undefined" - we're past hardcoded end date"
https://github.com/6eDesign/svelte-calendar/blob/74f04bba36ec11a12a1a12fd91f15d8db4a5f5bb/src/Components/Datepicker.svelte#L17

I just ran into this issue:
`Cannot read property 'weeks' of undefined`

I was not defining an end time, assuming it was open-ended. It's not, it's hardcoded with a date that we're now past.

I'm now using this hacky bit for a 3 month window:
`start={new Date()} end={new

[2020-11-04 09:21] superafroman commented on #97
We were hit by the same problem. If a property should be changed it shouldn't have a default value, so I'd suggest either removing the default or updating it to something dynamic, like `export let end = new Date(new Date().getTime() + (365 * 24 * 60 * 60 * 1000));` and removing the requirement to set it yourself.

[2020-11-05 03:20] 6eDesign commented on #97
I like the approach of setting it a year out from today.  It should help anybody who's not following the instructions to set a start and end date.  Anyone who's using a start date past that default end date will likely be setting both properties.

Will push a fix in the next day or so.

[2020-11-10 17:31] antony commented on #98
Just noticed this too.

[2020-11-13 23:15] #71 closed

[2020-12-01 15:56] khalld opened #101 "Not working with sapper"
Hi, on my project on sapper i need to use this plugin.
On a page, between <script> I import:

` import Datepicker from 'svelte-calendar'`

Then, on the html part, for testing if it's working:

`
<Datepicker style="display: block;">
	<button style="width: 100%;">
		FULL WIDTH TRIGGER
	</button>
</Datepicker>
`

But the console says

`
internal/modules/cjs/loader.js:983
  throw err;
  ^

Error: Cann

[2020-12-01 18:04] platypusjones commented on #101
You need to include the package in your dependencies:

`npm i --save svelte-calendar`

This is a common requirement with sapper, you'll probably run in to it with other packages as well.

[2020-12-02 08:31] khalld commented on #101
I already install the module, it give me the same error.

[2020-12-02 10:09] khalld commented on #101
Solved, i manually moved from dependecies to devDependecies on package.json

[2020-12-02 18:27] platypusjones commented on #101
Cool, in the future, it's worth noting you can do that with NPM as well just by using

`npm i <package> --save-prod` to add to dependencies, or `npm i <package> --save-dev` to add to dev dependencies.

This is regardless of if it's installed already, as NPM will check this anyways, and move accordingly.

[2020-12-08 23:37] fabianmossberg opened #102 "In the demo, the calendar doesn't work until a date is chosen"
When I open the demo page and i click on any of the buttons to open the calendar,  the default date is today (December 9).

However, the month that is shown does not seem to be december. Only 29, 30 and 31 are enabled for click, they are all 29, 30 and 31 of October 1987.

Before choosing any of them I can click the "next month" button,  it moves forward one month at a time, but the calendar itsel

[2020-12-22 18:50] frederikhors opened #104 "Demo is broken"

[2020-12-22 21:10] 6eDesign commented on #104
Fixed in version `2.0.x`

[2020-12-22 21:10] #104 closed

[2020-12-22 21:11] 6eDesign commented on #102
Fixed in version `2.0.x` - start and end date defaults have been updated to 1 year ago and 1 year in future, respectively.

[2020-12-22 21:11] #102 closed

[2020-12-22 21:11] 6eDesign commented on #98
Fixed in version `2.0.x` - start and end date defaults have been updated to 1 year ago and 1 year in future, respectively.

[2020-12-22 21:11] #98 closed

[2020-12-22 21:12] 6eDesign commented on #97
Fixed in version `2.0.x` - start and end date defaults have been updated to 1 year ago and 1 year in future, respectively.

[2020-12-22 21:12] #97 closed

[2020-12-22 22:44] frederikhors opened #105 "I would like..."
I would like to have

1. start and end date to select, optionally
2. select time (hour, minutes, seconds), optionally

[2020-12-22 22:56] #101 closed

[2020-12-22 22:56] 6eDesign commented on #86
Updated readme.

[2020-12-22 22:56] #86 closed

[2021-02-05 12:21] zdenda-online opened #107 "Allow Responsive Design"
Hello, the component is nice but the fact the button is fixed 300px limits the use for responsive design.
It would be fine to allow styling not only wrapping div but mainly the button. Or at least make button width 100% instead of fixed value and let parent (client) component to decide its width (e.g. by wrapping to div)

It is typical that mobile devices have width of input elements (buttons etc)

[2021-02-05 17:44] 6eDesign commented on #107
You can supply your own button to the component with whatever styling you'd like.  There are examples of this in the demo but to summarize you just pass your button as a child/slot of the datepicker.

[2021-02-05 18:50] zdenda-online commented on #107
Oh I missed that, sorry my apologies.

[2021-02-05 18:50] #107 closed

[2021-02-12 02:08] 6eDesign commented on #107
No worries at all.  Thank you

[2021-02-15 21:52] r-franke opened #108 "<Popover> received an unexpected slot "default"."
All examples given result in the above error message. I checked the slots that are being filled and they all seem to be okay.

Anyone else seeing this?

[2021-02-20 09:57] oldtinroof commented on #108
Yep, I'm getting the same thing. I had a look through the source, but am fairly new to svelte so can't see anything obvious.

[2021-02-24 03:35] tonprince commented on #52
Is there any solution for that in the meantime?

[2021-03-09 02:57] AlexMordred commented on #108
Also getting this.

[2021-03-10 03:11] KTruong008 commented on #108
I think this issue is fixed if you upgrade svelte to v3.35.0 https://github.com/sveltejs/svelte/issues/4546.

[2021-03-10 03:16] AlexMordred commented on #108
@KTruong008 it worked, thanks!

[2021-03-16 08:16] klase opened #109 "feature request: expose month selected callback"
Would be useful to expose when the user selects a new date so we can asynchronously do things depending on the current  month the user is viewing.

[2021-03-24 02:29] EriksonGM opened #110 "What about internacionalization?"
Can we change the month to spanish or another lenguage?

Would be nice some internacionalization features.

[2021-04-01 19:10] rmcew opened #111 "Prop to style individual days"
Would be nice if we could style individual days on the calendar. I'm thinking a prop similar to selectableCallback, wherein you provide a function that takes a date and returns a CSS class that gets added to the div that wraps each day.

[2021-04-15 17:12] lexey111 opened #112 "Non-reactive monthsOfYear with daysOfWeek"
I observe strange behaviour in case `daysOfWeek` and `monthsOfYear` both are dynamic: only `monthsOfYear` reacts on change.

[code]

`Calendar` is just a const which contains localised arrays, arrays are correct. The component receives initial locale and updates both months and days (and `weekStart`, btw), but when locale changes - only months update correct, days (and `weekStart`) still use initi

[2021-04-19 04:16] riez opened #113 "Kit - Error when evaluating SSR module"
Installing on svelte-kit using dev-dependecies got error:
[code]

But when installing as dependencies its working but I always need to restart dev server whenever made changes on component props. eg:
[code]
change to
[code]

I need to restart the dev server for this to taking effect. I'm using:

[code]

Please give me some insight on what's going on here.

[2021-04-26 12:10] Edward-Heales opened #114 "When month selector is open, change date by year instead of month"
Hi, when you open the month selector I would like the arrows to change from 'changing months' to 'changing years'.
I have implemented this locally in an awkward sort of way by checking if its open or not, I'm wondering if its possible to get this developed properly?

Locally I just added this:
[code]
to the incremementMonth function in svelte-calendar/src/Components/DatePicker.svelte

[code]

Than

[2021-05-12 06:30] AlexMordred opened #116 "Serious memory leak"
This doesn't seem very maintained so I'm just letting whoever uses this know that there's a pretty serious memory leak in the code. I use `svelte-calendar` in a web app of mine and this leak drastically slowed the app down over time, had to refresh the app page every few actions. I made a PR fixing this #115.

[2021-05-12 16:27] 6eDesign commented on #116
Thanks for the contribution

[2021-05-12 16:27] #116 closed

[2021-05-24 22:23] DrewRidley opened #117 "Date Ranges?"
Will this package support the ability to select dates between a range in the future? this would be very beneficial for my application.

[2021-05-24 22:34] DrewRidley opened #118 "Popover may be occluded by other elements"
![image](https://user-images.githubusercontent.com/47063089/119414920-85d3f200-bcbe-11eb-8a46-a769b1e9d98e.png)

As shown in this example, when passing in a custom element as the button to trigger the popover, sometimes it may be occluded by other elements on the page. With the default button this does not occur, but when passing in a custom button with props it seems to happen frequently.

[2021-05-25 14:02] 6eDesign commented on #118
Can you put together a repl to reproduce?

[2021-05-26 01:16] DrewRidley commented on #118
I had trouble creating a repl to reproduce but it seems like the popout window isn't neccessarily ontop of other elements, and if its inside a table or other element with a smaller size, it gets occluded behind the page. This issue could easily be fixed if the library interfaced a method to adjust the translation of the window manually. The
[code]
tries to offset the popover outside of the page, c

[2021-05-27 17:22] 6eDesign commented on #118
The transform css referenced above positions the popover relative to its natural positioning.  From the screenshot you provided it looks like maybe you have an element which doesn't allow overflow.  You may want to try adding `overflow: visible` to that element.

[2021-05-28 02:01] DrewRidley commented on #118
It seems like I had to add ```overflow: visible``` to the parent element and remove any overflow autos. Its working perfectly now, thanks for your help!

[2021-05-28 02:01] #118 closed

[2021-05-29 19:30] nstuyvesant opened #119 "Warning when using with TypeScript"
Getting...

when importing it
[code]

Didn't see an @types/svelte-calendar out there either. Any chance of some type definitions in the future?

[2021-06-02 04:18] 6eDesign commented on #119
https://github.com/IBM/sveld

A coworker recommended this approach.

[2021-06-06 17:24] coccus1991 commented on #114
Thx for suggestion i've implemented your snippet code on my project locally. Very helpful!

[2021-06-21 06:22] nickpoulos opened #121 "Can't Select A Year??"

[2021-07-08 14:35] jonathangreenemeier-vizio commented on #110
Please check the readme for instructions

[2021-07-29 08:21] nezlicodes opened #122 "TypeError: append_styles2 is not a function"
Hi,

I am getting this error - might be due to switching to **yarn**?- any idea how I can fix this?

[code]

[2021-07-30 10:07] #122 closed

[2021-07-30 23:37] jonathangreenemeier-vizio commented on #122
Did you figure it out then?

[2021-08-05 12:17] AndreasMaros commented on #110
Have you seen https://github.com/6eDesign/svelte-calendar#daysofweek-and-monthsofyear? That should do excatly what you're looking for.

[2021-08-05 15:03] laviniaLupsa opened #123 "Using the calender with an editable input - need highlighted to be set as a property"
We are trying to use the svelte-calender in our project and we need to have an input that will display the selected date. The input should be editable, meaning that the data can be changed and it should reflect in the calender selection.

The code I am using:
`<Datepicker
		bind:formattedSelected={selectedDateFormatted}
		bind:selected={selectedDate}
		bind:dateChosen={userHasChosenDate}
		format=

[2021-08-07 04:05] 6eDesign commented on #123
Hi @laviniaLupsa.  I have recently been experimenting on a complete re-write of this component and this use case (allowing user to input date via keyboard) is something I'd like to support.  The re-factor is coming along quite well but I'm not sure exactly when it will be ready for publishing at this time.

In the meantime, do you think you might be able to listen for the `keydown` event on your i

[2021-08-07 05:30] 6eDesign commented on #121
The next version will have a year picker.  Closing this as it is a duplicate issue request.

[2021-08-07 05:30] #121 closed

[2021-08-07 05:35] 6eDesign commented on #114
The calendar supports arrows and page up/down keys currently.  In the next version the arrows will control the current context (day, year, month, or time picker) and the page up/down arrows will control the "next" level of picker (ex: on day picker they move months [like today], on month picker they control years, etc).

I may be able to allow some customization of the keys but I think what I have

[2021-08-07 05:37] 6eDesign commented on #110
The next version of this calendar will require dayjs as a peer dependency.  I believe we will be able to rely on it solely for locales.

[2021-08-07 05:38] #85 closed

[2021-08-07 05:42] 6eDesign commented on #62
A year picker interface will be included in the next version of the calendar.  It's a bit different than the above implementation but it works well.

[2021-08-09 09:06] Edward-Heales commented on #114
Okay, a question I have then is, who is a keyboard user...
i.e.:
What front end user is likely to be using their keyboard to navigate a datepicker over their mouse?
A lot of the people I know that will be using my system have never used arrow keys in their life.

[2021-08-09 16:45] laviniaLupsa commented on #123
Hi @6eDesign ,
Thank you for your quick response, I have tried to catch the keyDown event and it works ok, but I do have a problem closing the Datepicker. I have tried different approaches but none were successful. Do you have any tips on this?

[2021-08-14 18:36] jonathangreenemeier-vizio commented on #123
It does not look like I've exposed the open property for you to manipulate.  I'll change this in a future/new version.  I'm not sure of a clean workaround in the meantime.  Perhaps you could trigger a click somewhere outside of the calendar to get it to close but this would be hacky at best.

[2021-08-14 18:38] jonathangreenemeier-vizio commented on #114
The arrow UI elements are still present in the new version and work the same as page up/down keys when clicked.

[2021-08-15 16:30] nstuyvesant commented on #119
This is what I added to my global.d.ts...
[code]

[2021-08-16 01:34] nstuyvesant commented on #119
Allain Chain suggested:
[code]
as a workaround. This worked for me though I would like to have proper types for the Datepicker.

This is what I started...
[code]

[2021-09-01 13:36] laviniaLupsa commented on #123
Hi @6eDesign,
I have implement the workaround by clicking a hidden input used only for this purpose and also called blur on the event.target so that the input loses focus too. Thanks a lot for your support, waiting for the new version so that I can get rid of all this workarounds.

[2021-09-12 18:46] sridharraman opened #124 "Calendar doesn't render properly in a built svelte app"
When I do a `npm run build` and run the built app, the calendar component doesn't load properly. There's a huge gap in the div after the button. The button is not clickable as well. I wonder if I am doing something wrong. The build is done through rollup.

Edit: The calendar works absolutely fine in dev environment.

[2021-09-16 17:46] nstuyvesant opened #125 "Dependency error with dayjs when running dev server with SvelteKit 1.0.0-next.168"
Just installed svelte-calendar@3.0.5 into my project (previously using 2.0.4).

Even though svelte-calendar has **dayjs** in its package.json as a dependency, got this error until I explicitly added **dayjs** to my devDependencies:

To reproduce...
- npm init svelte@next my-app (specify SvelteKit Demo App, TypeScript: yes, eslint: no, prettier: no)
- cd my-app
- npm install svelte-calendar
- edit

[2021-09-16 17:56] nstuyvesant opened #126 "Error when evaluating SSR module when running SvelteKit 1.0.0-next.168 dev server"
After explicitly adding **dayjs** to my devDependencies in my package.json per https://github.com/6eDesign/svelte-calendar/issues/125, I get:

when doing an `npm run dev -- --open` with a fresh SvelteKit project that imports Datepicker and uses the component on /src/routes/index.svelte.

[2021-09-16 17:58] nstuyvesant commented on #125
Reverting back to svelte-calendar@2.0.4 is my temporary workaround.

[2021-09-16 17:58] nstuyvesant commented on #126
Reverting back to svelte-calendar@2.0.4 is my temporary workaround.

[2021-09-17 06:07] jonathangreenemeier-vizio commented on #125
Thanks for taking a look at the new v3. It's a complete rewrite and was built with svelte kit as well. I will try to look into this and find a solution.  I think dayjs might need to be a peer dependency to allow for localization

[2021-09-17 15:23] nstuyvesant commented on #125
Looks like there's a lot of good stuff in v3 (TypeScript was on my wish list). For the two items I ran into, it might be just a matter of documentation - not sure.

[2021-09-17 19:06] nstuyvesant opened #127 "3.0.17 - Failed to resolve import "just-throttle" from "node_modules/svelte-calendar/components/generic/KeyControls.svelte". Does the file exist?"
Using SvelteKit (latest), I installed svelte-calendar@3.0.17 and added dayjs to my dependencies. Now I'm getting a failure about **just-throttle**.

After installing just-throttle, I get:

[2021-09-18 10:29] jzillmann commented on #126
Same problem here with Svelte kit.
Didn't include `dayjs`.
Using `svelte-calendar@2.0.4` works.
Also having errors in VSCode (my project is a typescript one)
- with `2.0.4`: `SX element type 'Datepicker' does not have any construct or call signatures.`
- with `3.x`: `Type '{}' is not assignable to type 'IntrinsicAttributes & { formatted: string; selected?: Date; start?: Date; end?: Date; theme?: {

[2021-09-18 16:48] nstuyvesant opened #128 "3.0.19 and SvelteKit v1.0.0-next.169 - Failed to load module for SSR: /src/lib/stores/datepicker"
Related to #126 but for svelte-calendar@3.0.19.

Upgraded svelte-calender@2.0.4 to 3.0.19 in my SvelteKit v1.0.0-next.169 project.

What seems to have been resolved...
https://github.com/6eDesign/svelte-calendar/issues/127
https://github.com/6eDesign/svelte-calendar/issues/125

Now getting:

I do not have a /src/lib/stores folder in my project. Seems like svelte-calendar should be looking in node_

[2021-09-18 17:10] nstuyvesant commented on #127
Resolved in 3.0.19

[2021-09-18 17:10] #127 closed

[2021-09-18 17:11] nstuyvesant commented on #125
Resolved in 3.0.19

[2021-09-18 17:11] #125 closed

[2021-09-18 17:32] jonathangreenemeier-vizio commented on #128
Hey @nstuyvesant - thanks.  I'm working thru these issues with sveltekit compatibility as I, too, would like this to work well with the new kit platform.

I'm attempting to move the experimentation to a @next dist-tag right now.  Will update you when/if things are resolved.

[2021-09-18 17:43] jonathangreenemeier-vizio commented on #128
It is a bit odd, though.  I am seeing a different error than you with 3.0.19 in a svelte-kit app.  My error looks more like this:

[code]

[2021-09-18 18:45] jonathangreenemeier-vizio commented on #128
@nstuyvesant - Could you please try updating to svelte-calendar@next and re-testing on a fresh svelte-kit app?  You may need to update your svelte.config.js to the following (adding the optimizeDeps property):
[code]

[2021-09-18 22:13] nstuyvesant commented on #128
Will give it a try and let you know my results - thanks!

[2021-09-18 22:35] nstuyvesant commented on #128
Installing svelte-calendar@next (3.0.26) with the additions to svelte.config.js's vite.optimizeDeps.include gets rid of the SSR error.  When I run the dev server, I can bring up the datepicker but the behavior is different from 2.04 so I may need to look over the examples to get it to work the same way it did before. I can show the calendar and select the date which then enlarges but does not dism

[2021-09-18 23:14] jonathangreenemeier-vizio commented on #128
I'm curious if you see the same behavior on the demo/docs site https://6edesign.github.io/svelte-calendar/ ?

I have not seen the behavior you're describing with the Datepicker component.  The InlineCalendar component does currently behave this way, though.

[2021-09-19 01:32] 6eDesign commented on #128
If you can, @nstuyvesant, please provide the code you're using to implement the Datepicker so I can try to reproduce.

v3.0.0 does introduce many breaking changes but I think they're all for the better (either immediately or because they will aid in adding new functionality later [time pickers, date ranges, etc]).

[2021-09-19 04:51] 6eDesign commented on #128
Closing this issue for the time being.  Feel free to open new issues with any additional problems you run into.  Thanks for helping me test out the new v3 refactor.

[2021-09-19 04:51] #128 closed

[2021-09-19 04:53] 6eDesign commented on #126
Packaging configuration updates have been applied and sveltekit-specific instructions have been added to the README.  Please re-open/comment if you are continuing to have issues after updating svelte-calendar and updating your `svelte.config.js`.

[2021-09-19 04:53] #126 closed

[2021-09-19 04:57] 6eDesign commented on #124
Please provide a clear way to reproduce the issue you're seeing.  There are many ways to build/run/develop a svelte application and there are various versions of dependencies (svelte-calendar and otherwise).  I have not experienced the issue you're describing when implementing this calendar in svelte applications (neither in development or production builds).

[2021-09-19 05:01] 6eDesign commented on #123
v3 is published and does not support keyboard input for dates, yet.  V3 does, however, allow you to bind to the internal store and control the behavior of the datepicker and popover more directly.  Please feel free to give it a shot.  Please be aware that there are several breaking changes to the component props and overall functionality of the calendar.  You can see the [docs/demos here](https://

[2021-09-19 05:01] #123 closed

[2021-09-19 05:04] 6eDesign commented on #117
A DateRangePicker is part of the motivation for the v3 refactor that was recently released.  Feel free to check out the [new version here](https://6edesign.github.io/svelte-calendar/).  I will close this issue as it duplicates several others.

[2021-09-19 05:04] #117 closed

[2021-09-19 05:06] 6eDesign commented on #114
[svelte-calendar@3.x](https://6edesign.github.io/svelte-calendar/) was recently released and has an updated UX around the day, month, and year pickers along with many other enhancements and some breaking-changes to the component's API (hopefully all for the better).  Feel free to check it out and provide feedback here or in a new issue.

[2021-09-19 05:06] #114 closed

[2021-09-19 05:10] 6eDesign commented on #113
I have not tried using svelte-calendar@2.x in svelte-kit but did recently re-write the calendar using svelte-kit for development, documentation, and publishing and released this as [svelte-calendar@v3](https://6edesign.github.io/svelte-calendar/).

There are several breaking changes in this new version (hopefully all for the better) but please do check it out and let me know if it's working better

[2021-09-19 05:10] #113 closed

[2021-09-19 05:13] 6eDesign commented on #112
Localization has been overhauled in the latest release of svelte-calendar (v3.x).  Please check out the [localization example](https://6edesign.github.io/svelte-calendar/docs/examples) on this page.  Localization is still not reactive but I have called this out more clearly in the documentation.  Do you think there's a realistic need to change locales for an already-initialized calendar?

[2021-09-19 05:14] 6eDesign commented on #110
Localization has been overhauled in the latest release of svelte-calendar (v3.x).  Please check out the [localization example](https://6edesign.github.io/svelte-calendar/docs/examples) on this page.  Feel free to open a new issue with additional feedback/bugs/etc.

[2021-09-19 05:14] #110 closed

[2021-09-19 05:16] 6eDesign commented on #109
I think this is quite doable in v2.x and the new v3.x without explicitly declaring a callback or event handler.  You should be able to wire this up with reactive variables and the existing props (or store in v3).

[2021-09-19 05:16] #109 closed

[2021-09-19 13:47] #108 closed

[2021-09-19 13:53] 6eDesign commented on #62
This has been added in the v3.x release.  You can check it out here https://6edesign.github.io/svelte-calendar/

The whole UI has been overhauled with new animations and UX.  You can scroll, drag, or control the day, month, and year pickers with the keyboard.

[2021-09-19 13:53] #62 closed

[2021-09-19 13:55] 6eDesign commented on #105
Closing as duplicate

[2021-09-19 13:55] #105 closed

[2021-09-19 13:56] #56 closed

[2021-09-19 13:58] 6eDesign commented on #52
An InlineCalendar component has been added in v3 of this component.  Please refer to the new docs https://6edesign.github.io/svelte-calendar/

[2021-09-19 13:58] #52 closed

[2021-09-19 13:59] 6eDesign commented on #46
A year picking interface has been added in v3 - please refer to the new docs https://6edesign.github.io/svelte-calendar/

It has touch, scroll and keyboard support with new animations

[2021-09-19 13:59] #46 closed

[2021-09-19 14:01] 6eDesign commented on #37
Internationalization has been overhauled in v3.  See the locale example here https://6edesign.github.io/svelte-calendar/docs/examples

Please feel free to reopen or submit a new issue if you continue to have trouble

[2021-09-19 14:01] #37 closed

[2021-09-19 14:01] #27 closed

[2021-09-19 14:07] 6eDesign commented on #3
Outsider and disabled opacity is now configurable thru the theming interface

[2021-09-19 14:07] #3 closed

[2021-09-19 15:51] nstuyvesant commented on #128
Here's the Svelte component where I use the Datepicker. I wonder if the differences we experience may be related to typescript.
[code]

[2021-09-19 16:18] nstuyvesant commented on #128
Just tried creating a new SvelteKit demo project with the adjustment to the svelte.config.js and adding the Datepicker to the /routes/index.svelte and it worked although I got a warning in VS Code that the formatted property is required (when using the documented example of `<Datepicker />`  so I used `<Datepicker formatted="today" />`.

[2021-09-19 17:06] 6eDesign commented on #128
Ok formatted does not need to be a required property. I can change that.

For your more complex example could you try following the custom trigger example in the docs?  You're missing the in/out actions on your custom trigger.

[2021-09-19 17:17] #22 closed

[2021-09-19 17:19] 6eDesign commented on #76
V3 of the calendar has been released and includes enhanced theming functionality.   You can design your own theme here in the [theme-editor](https://6edesign.github.io/svelte-calendar/docs/theme-editor/dark) and view examples of custom themes [in these examples](https://6edesign.github.io/svelte-calendar/docs/examples).

[2021-09-19 17:19] #76 closed

[2021-09-19 17:23] 6eDesign commented on #111
I'm not sure this sort of thing would be very widely used.  You could, however, accomplish this using `:nth-child()` within a `:global()` selector in one of the component's parents.  I'm going to close this for now but can re-evaluate if there's additional demand or reasoning for this sort of thing.

[2021-09-19 17:23] #111 closed

[2021-09-19 17:26] 6eDesign commented on #79
I believe all of these issues are fixed in the latest v3 release of the calendar.  Please feel free to check it out and let me know if you're having any problems.

[2021-09-19 17:26] #79 closed

[2021-09-19 18:06] 6eDesign commented on #57
`startOfWeekIndex` property has been added in `v3` and seems to be working correctly.

[2021-09-19 18:06] #57 closed

[2021-09-19 18:10] 6eDesign commented on #119
I have rewritten this component using svelte kit and used `svelte-kit package` to publish the package along with various type files.  I am not personally using typescript in my projects.  Please try out the new [`v3` version of this component library](https://6edesign.github.io/svelte-calendar) and let me know if this issue can be closed.

[2021-09-19 18:10] 6eDesign commented on #119
oops - didn't mean to close.

[2021-09-20 09:08] Edward-Heales commented on #114
Looks great will start using now!

[2021-09-21 15:00] Ortyommm opened #132 "Enlarge mode is broken with a small width"
![image](https://user-images.githubusercontent.com/78483221/134195038-8b91c7cd-267a-40af-817b-50fcd829faee.png)
![image](https://user-images.githubusercontent.com/78483221/134195560-8cff4522-5bc0-472a-8b85-f3beaefb0d90.png)
First example is from playground, second is from my project(width:500).

[2021-09-21 15:39] 6eDesign commented on #132
You can modify the size of the enlarged text in the theme-editor (`calendar.font.large`).  Does that resolve your issue?

[2021-09-21 20:59] BigBoulard opened #133 "[feature] style the button before styling the calendar"
Hi,

Just a quick suggestion. It would have been cool to be able to style the button : width, height, disable the drop shadow etc. instead of doing things like this in the parent:

[code]
Note that because of the specificity, `div.button-container > button` doesn't work.

Best.

[2021-09-22 03:52] Ortyommm commented on #132
Yes, it looks much better, thank you a lot!
![image](https://user-images.githubusercontent.com/78483221/134280833-e893a3e2-17ae-428f-9139-238e587787ff.png)

[2021-09-22 03:52] #132 closed

[2021-09-30 14:01] 6eDesign commented on #133
Did you know that you can provide your own button/trigger for the calendar?

I'm happy to add more theming capabilities to the default trigger but providing your own button/input/etc is often going to be the best course of action

[2021-10-05 11:12] halindraprakoso opened #134 "picker with custom trigger won't open if inside <form>"
hello, thanks for the awesome datepicker, but I'm having an issue with custom button because the picker won't open if it's between form tags. It works fine without the button though

[2021-10-05 20:17] halindraprakoso commented on #134
I forgot to put type="button"....

[2021-10-05 20:17] #134 closed, assigned to nobody

[2021-10-08 08:41] richardatianperks opened #135 "Calendar not working in firefox"
When viewing the date picker in a firefox browser, the day part of the calendar control doesn't render, only the year and month are visisble.

![image](https://user-images.githubusercontent.com/19780873/136525603-f4dedb8b-6f8a-4ae8-a96a-768c78c48baf.png)

[2021-10-08 14:00] 6eDesign commented on #135
Can you please provide more info to reproduce the issue?  (Browser version, OS, and the code you're using).  This isn't something I'm seeing in firefox

[2021-10-08 14:00] #124 closed

[2021-10-27 23:38] mriot opened #136 "[feature] prop to set marked days"
The one thing I am currently missing from this awesome calendar is an option, to set marked/highlighted days.
Let's say a prop called `marked` which I can pass an array of dates, that would be given a certain class name.

Maybe there is already a way to accomplish this, and I just can't see it.

[2021-11-02 08:48] rotimi-best opened #137 "How to style certain days on the calendar"
Hi everyone, is anyone aware of a way of for example adding dots to certain dates like in this screenshot.

## Use case
I am building an app that needs to show various events for certain days, I want my users to know what specific days they have an event.

Thanks 👍🏾 🙏

![telegram-cloud-photo-size-2-5190901288332801410-x](https://user-images.githubusercontent.com/31730715/139814318-3921f60a-90d6-40

[2021-11-02 08:48] rotimi-best commented on #136
Exactly what I need, I just created an issue related to this.

[2021-11-06 22:14] rotimi-best commented on #137
# My hacky solution

[code]

[2021-11-06 22:14] #137 closed, assigned to nobody

[2021-11-06 22:16] rotimi-best commented on #136
I found a way around it, it really isn't scalable cause any change in the classes can break this code. but for the main time, this is good enough for me

https://github.com/6eDesign/svelte-calendar/issues/137#issuecomment-962516890

[2021-11-06 22:36] jonathangreenemeier-vizio commented on #136
It should be fairly straightforward to add support for this.

[2021-11-13 15:26] multipliedtwice opened #138 "Some extra props"
Hello, thank you for the awesome library. Do you have any plans to add any of the following:
1. startAt - for example to open the calendar on 18 years ago date?
3. allow to input use Unix timestamp as a selectedDate?

[2021-11-15 15:45] nezlicodes opened #139 "start not working when bound to a variable"
I need two calendars for **start** and **end** dates. The second calendar should start and the value of **start** but it's not working.

 <InlineCalendar bind:store="{fromStore}" theme="{calendarTheme}" bind:selected="{from}" />
<InlineCalendar bind:store="{toStore}" theme="{calendarTheme}" bind:selected="{to}" bind:start="{from}" />

Your help would be much appreciated.

[2021-11-18 07:00] jonathangreenemeier-vizio commented on #138
For #1, this is possible by setting or binding the `selectedProp` to a specific date: https://svelte.dev/repl/0c1cbd9bb5ee4be2a65fd843d2427c6b?version=3.44.1

You may have to adjust the `start` and `end` properties (date boundaries) if the start date it outside of the defaults.  See the [props documentation](https://6edesign.github.io/svelte-calendar/docs/props) for more details.

I'm not quite su

[2021-11-18 07:12] jonathangreenemeier-vizio commented on #139
The start and end date properties are not currently "reactive" and they probably should be for this sort of thing.  However (or, in the meantime) - you can access the datepicker's store and use it's methods to achieve what you are looking for.  Here is an example:

https://svelte.dev/repl/650a0a776d114092b9bb4625c5921695?version=3.44.1

[2021-11-18 07:20] 6eDesign commented on #139
Start and end are not currently reactive (and probably should be).  In the meantime you do have access to the datepicker store and can achieve this type of functionality like so:

https://svelte.dev/repl/c02334eea8bf47698712bc7e399d487c?version=3.44.1

[2021-11-18 07:24] 6eDesign commented on #136
This is an interesting idea and is likely something I can support in one fashion or another.  It would also be good to be able to disable the selection of some dates.   Both could probably be supported by some sort of function that is supplied to the calendar as a prop.

[2021-11-18 07:24] #135 closed, assigned to nobody

[2021-11-18 14:14] rotimi-best commented on #136
@6eDesign disabling functionality is also a good idea, it makes sense that you would want to disable some dates.

Here is a demo of my hacky workaround

https://user-images.githubusercontent.com/31730715/142431537-dd3295db-9777-4b7d-8c01-d68cb1f777e4.mov

[2021-11-20 10:03] maxxafari opened #140 "How do i disable Enlarge Day?"
How do I disable the EnlargeDay animation? in the Datepicker?

[2021-11-23 06:09] mtrevor opened #141 "Tailwind breaks svelte-calendar's css"
I have been using Tailwind with svelte-calendar quite happily for a while, but since the theming changes have been added, it no longer works correctly. It looks like some of the Tailwind utility selectors may be conflicting with this component now.

I stripped it back to a basic app:

[code]

![image](https://user-images.githubusercontent.com/4484396/142978036-7a5d2dd4-a90c-44bc-8d3a-353db61a9d9b.

[2021-11-30 05:58] hoonblizz opened #142 "Setting a default date issue"
I set a default value like,
`$store.selected = new Date(1615250820000); // Mon Mar 08 2021 19:47:00 GMT-0500 (Eastern Standard Time)`
Then, I can clearly see that the calendar is paging up to the 8th of March.
The issue is, the month header stays on today's month. (like November)
The day is staying right. So it looks like 8th of November.
What am I missing?

I'm using inline calendar.
`<InlineCale

[2021-11-30 06:45] hoonblizz commented on #142
Sorry, I missed the prop `selected`

[2021-11-30 06:45] #142 closed, assigned to nobody

[2021-12-01 04:37] 6eDesign commented on #141
Hey @mtrevor - thanks for using the calendar and sharing your experience.  The latest updates were intentionally versioned as a major release to warn of possible breaking changes as it was completely rewritten.  However, I'd love to figure out what's going on for you as I know tailwind is fairly popular.

I have not used tailwind myself, though.  Is there any chance you could provide a minimal rep

[2021-12-01 04:37] 6eDesign commented on #140
You cannot, currently.  But that could be changed.

[2021-12-13 15:04] Edward-Ta opened #146 "When store variable named anything but 'store' the Custom Trigger wont update with the date."
https://svelte.dev/repl/2088b86f95ed4e83af1b698c7e76d3f3?version=3.44.2

Title says it all.

[2021-12-22 10:52] taffit commented on #146
Not an issue.
Please note, that you can only use the shorthand, if the [property matches the variable](https://svelte.dev/docs#template-syntax-element-directives-bind-property).

See https://svelte.dev/repl/b7f0570976ff408faee92c504533f708?version=3.44.2

[2021-12-22 14:07] Edward-Ta commented on #146
Thank you it works perfectly now, you have resolved my misunderstanding.

[2021-12-22 14:07] #146 closed, assigned to nobody

[2021-12-28 10:35] BartokIT opened #147 "Style of the open calendar button"
Hi,
thanks for this awesome component.

I'm trying to stylize the button to open the calendar without success: the theme support you added change only the calendar itself or it is possible to pass a custom button definition as slot to open the calendar?

KR

[2021-12-31 07:59] 6eDesign commented on #147
The theming can be used to style the [background and text color of the default button/trigger](https://github.com/6eDesign/svelte-calendar/blob/master/src/lib/components/Datepicker.svelte#L64-L65) for opening the calendar (it shares these css variables with the calendar).  I could potentially add additional theming variables/capabilities for the button and document this better in the theme editor.

[2022-01-14 12:20] rafrafek commented on #133
You can provide your own button, but in 3.1.6 you can't pass style to it's internals, e.g. `style="width: 100%;"`. In 2.0.4 you can.

[2022-01-14 12:21] rafrafek commented on #140
It is easy, just downgrade to 2.0.4.

[2022-01-17 01:44] #112 closed

[2022-01-17 01:44] #17 closed

[2022-01-23 19:13] babakfp opened #149 "Failed to resolve force included dependency: just-throttle"
Hi
So, Github just recommended this repo and it was interesting I take a look and...
I decided to create a replication repo for this issue https://github.com/6eDesign/svelte-calendar/issues/141 and I got this error:
## On the browser
[code]
## On the console
[code]

I refresh the page and it works now:
![Screenshot 2022-01-23 110622](https://user-images.githubusercontent.com/44144724/150693982-81e

[2022-01-29 10:18] multipliedtwice commented on #138
Thank you.

[2022-01-29 10:18] #138 closed, assigned to nobody

[2022-02-02 05:51] mylastore opened #150 "How to get the date clicked from the InlineCalendar view"
How do I get the date that was clicked from the InlineCalendar view?

Can you enable discussion here on GitHub for this type of question?

[2022-02-02 06:00] mylastore opened #151 "Dates on the calendar spins like slot machines when window width changes"
Please see the following video [VIDEO LINK HERE ](https://www.awesomescreenshot.com/video/7157975?key=6f6a0b347317d2280cb94fc8cd8d23eb)it happens also on your demo.

[2022-02-02 06:20] mylastore commented on #150
I figure this out but not sure if there is a better way, anyways here's the code.

[code]

[2022-02-09 20:42] fredrikvin opened #152 "Previous month button doesn't work if start > now - 31 days"
Previous month button/arrow doesn't work if start > now - 31 days

https://svelte.dev/repl/684ef31e297247bfa4f49f1c51254b36?version=3.44.3
![Screenshot 2022-02-09 213951](https://user-images.githubusercontent.com/65073111/153286194-841507cc-f0ee-440c-b873-d5f778927a71.png)

[2022-02-11 09:56] brunnerh opened #154 "Does not respect `prefers-reduced-motion`"
[`prefers-reduced-motion`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) can be checked via a media query and if set animations should be reduced to a minimum/turned off.

(In general, I would *not* recommend having such disruptive animations, even if that is not set.)

[2022-02-13 21:23] The-Real-Thisas opened #155 "[Feature Request] Disable Dates"
This is something I've used with flatpicker but flatpicker does not work on mobile and reverts to the native date picker.

I'm working on a booking application that requires a user to select an available date. Right now the application flow is the user checks the available dates then picks a date from the datepicker. This is less than ideal.

I think it will be incredibly useful as a prop and the

[2022-03-06 03:38] mylastore opened #158 "How to listen to clicked event with the InlineCalendar"
How to listen to the clicked event programmatically. For my purpose, I need to open a Modal when a date is clicked.

[2022-05-04 19:09] Geeky-Mechanic commented on #155
Was going to ask about this, I guess i"ll try and do some other validation

[2022-05-10 16:23] gevera commented on #150
That's the correct way

[2022-05-27 19:26] hubert-ix commented on #140
I'd love an option to disable it too.
It actually looks like it's feasible as there is a "Enlarge day" toggle on the theme demo page: https://6edesign.github.io/svelte-calendar/docs/theme-editor/light

[2022-07-14 09:52] RavyarSarbast commented on #158
its one of the most important missing feature for this awesome calendar, the hacky way I do it is I just make a custom event from the day picker pass it to the calendar then to the calendar you are using

[2022-07-17 00:02] devluxca commented on #150
My abstraction to this component is

[code]

and use:

[code]

[2022-08-08 23:53] divStar opened #162 "Add the ability to add custom content to days, months, years (e.g. holidays etc.)"
This is a great calendar from what I can tell so far!

I am currently missing a way to show additional information per day, month and/or year. That information could be a name of a holiday, some sort of status showing something (e.g. a multi-colored line showing how much work I have tracked for that day out of the normal amount of hours, whether I were present at that day at all).

The component w

[2022-10-21 07:20] Nisthar commented on #119
would be nice to have types

[2022-11-12 23:35] hdz-dev commented on #155
please! add this option.